@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9ecef;
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.gen {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.gen input {
    height: 40px;
    flex: 1;
    font-size: 18px;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.gen input:focus {
    border-color: #80bdff;
    outline: none;
}

button {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #28a745;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #218838;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    box-shadow: none;
}

.clear-button {
    background-color: #dc3545;
}

.clear-button:hover {
    background-color: #c82333;
}

.extra {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.color-picker,
.slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.color-picker label,
.slider label {
    font-size: 16px;
    color: #495057;
}

.output-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
}

.buttons {
    display: flex;
    gap: 10px;
}

.download-button {
    background-color: #007bff;
}

.download-button:hover {
    background-color: #0069d9;
}

.copy-button {
    background-color: #ffc107;
    color: #343a40;
}

.copy-button:hover {
    background-color: #e0a800;
}
